logs
target
conf/production.conf
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/database
/lib
/logs
/messages
/project
/target
/tutorial
/uploads
*.iml
*.sbtserver
/data/backups/*.json
/data/admin/admin
/tmp/*.json
/public/images/profile-image.*
