@(resume: objects.Resume, isAdmin: Boolean)

@progressBarType(progress: Int) = @{
    if (progress > 50) {
        "success"
    } else if (progress > 25) {
        "warning"
    } else {
        "danger"
    }
}

@*
 * This template is a helper template of the primary resume template. It is for the language/tech section, which
 * displays a series of skill bars indicating relative proficiency with various tools, languages and technologies.
 * This contains the html for the locked and editable sections.
 *@
<div id="language-tech-info-section" class="bs-callout bs-callout-primary">
    @resume_view.headerWithEditOption("Language and Technology Skills", "language-tech-edit-link", isAdmin)
    <div id="language-tech-readable-text" class="locked-mode">
        <ul class="list-group">
            <a class="list-group-item inactive-link" href="#">
                <div class="skill-list">
                    @for(skill <- resume.skillBars) {
                        <div class="progress">
                            <div data-placement="top" style="width: @(skill.progress)%;" aria-valuemax="100" aria-valuemin="0"
                                 aria-valuenow="@skill.progress" role="progressbar" class="progress-bar progress-bar-@progressBarType(skill.progress)">
                                <span class="sr-only">@(skill.progress)%</span>
                                <span class="progress-type">@skill.skill</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="progress-meter">
                    <div class="meter meter-left"><span class="meter-text">Beginner</span> </div>
                    <div class="meter meter-left"><span class="meter-text">Novice</span> </div>
                    <div class="meter meter-right"><span class="meter-text">Advanced</span> </div>
                    <div class="meter meter-right"><span class="meter-text">Good</span> </div>
                </div>
            </a>
        </ul>
    </div>
    @if(isAdmin) {
        <li id="language-tech-item-cloneable" class="list-group-item row cloneable">
            <div class="col-md-10">
                <label>Skill/Technology</label>
                <input type="text" value="" name="skill" class="form-control" />
            </div>
            <div class="col-md-1">
                <label>Skill %</label>
                <input type="number" value="" name="progress" min="0" max="100" step="1" class="form-control"/>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-link remove-btn remove-tech-skill">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </li>
        <form action="/resume/update-language-and-tech" method="post">
            <div class="editable-mode">
                <ul id="language-and-tech-list" class="list-group">
                    @for(skill <- resume.skillBars) {
                        <li class="list-group-item row">
                            <div class="col-md-9">
                                <label>Skill/Technology</label>
                                <input type="text" value="@skill.skill" name="skill" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <label>Skill %</label>
                                <input type="number" value="@skill.progress" name="progress" min="0" max="100" step="1" class="form-control"/>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-link remove-btn remove-tech-skill">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            @resume_view.buttonForEditSave("language-tech-submit", Some("language-tech-add-button"))
        </form>
    }
</div>