@(resume: objects.Resume, isAdmin: Boolean, isEditMode: Boolean)(implicit title: String)

@import enums.MenuItems._
@import java.util.Date

@lastUpdatedTime() = @{
    val date = new Date
    date.setTime(resume.lastUpdated * 1000)
    date.toString
}

<!DOCTYPE html>
<html lang="en">
<head>
    @preamble(title)
    <link href="@routes.Assets.versioned("stylesheets/resume.css")" rel="stylesheet">
    @if(isAdmin) {
        <script src="@routes.Assets.versioned("javascripts/nicedit.js")"></script>
        <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
    }
</head>
<body>
    @navbar(RESUME)
    <div class="resume">
        <header class="banner-heading text-center">
            <h1>Resume</h1>
            <small> Last Updated on: @lastUpdatedTime</small>
        </header>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <div class="panel panel-default">
                    @* Each section is divided into its own sub-template. They can be rearranged as they are not
                       dependent on one another. *@
                    @resume_view.heading(resume, isAdmin)
                    @resume_view.summary(resume, isAdmin)
                    @resume_view.pastExperience(resume, isAdmin)
                    @resume_view.languageTech(resume, isAdmin)
                    @resume_view.education(resume, isAdmin)
                    @resume_view.expertise(resume,isAdmin)
                </div>
            </div>
        </div>
    </div>

    @footer()
    @if(isAdmin) {
        <script src="@routes.Assets.versioned("javascripts/resume.js")"></script>
    }
</body>
</html>