@()(implicit title: String)

@import enums.MenuItems._

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="The personal website of Canadian software developer and aspiring writer, Jeremy Lord. This page provides a means to contact the author with questions or comments." />
    @preamble(title)
</head>
<body>
    @navbar(ABOUT)

    <div class="banner-heading text-center">
        <header>
            <h1>About</h1>
            <p>A brief biography</p>
        </header>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>I am Jeremy Lord, your host and humble narrator, and a software developer from Vancouver, BC. This is a website that I created,
                       first as a personal project, but now as a repository for my scattered thoughts. This is where I will
                       catalog my writing on software development, math, fiction, and any other topic that I find interesting.</p>
                    <p>I currently work at Amazon as a software development engineer, and I previously worked as an intern at
                       Broadcom. In addition to my job in software, I am an aspiring (unpublished) writer, which is why this website
                       doubles as a hosting platform for fiction that I have written.</p>
                </div>
            </div>
        </div>
    </div>

    @footer()
</body>
</html>