@()(implicit title: String)

@import enums.MenuItems._

<!DOCTYPE html>
<html lang="en">
    <head>
        @preamble(title)
    </head>
    <body>
        @navbar(HOME)

        <div class="banner-heading text-center">
            <header >
                <h1>The Lord's Domain</h1>
                <p>Writing whatever strikes my fancy</p>
            </header>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Write an introduction here, and explain the intent of this website.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue mi sit amet sapien mattis,
                            et congue elit tincidunt. In iaculis, eros eget mollis aliquet, lorem orci volutpat mi, eget egestas
                            magna tellus non neque. Quisque vel erat quis dolor sollicitudin mattis a sit amet tortor. Aliquam
                            mattis dolor in risus ultricies euismod. Vestibulum lectus sem, ultricies et erat non, volutpat
                            feugiat purus. In suscipit nisi a enim euismod vehicula. Suspendisse potenti. Nullam et semper
                            augue. Nam et posuere dolor. Duis sit amet quam est. Duis viverra accumsan dui, luctus finibus nibh
                            malesuada non. Phasellus nibh felis, semper nec tincidunt non, malesuada eget sapien. Nullam
                            pulvinar gravida arcu, nec dictum velit maximus eget. Morbi quis eleifend nulla.</p>

                        <p>Donec in commodo est. Ut at erat erat. Nam volutpat rhoncus rhoncus. Maecenas non finibus purus. Integer
                            et maximus sapien. Nullam facilisis, felis at ullamcorper consectetur, orci orci tristique massa,
                            et ultricies lorem nibh nec augue. Vestibulum quis vehicula massa. Proin nec pharetra lorem. Sed
                            ultrices sagittis ligula, a efficitur diam rutrum id. Ut ultrices justo vitae sem dictum tempus.
                            Donec vitae tempus orci. Proin rhoncus lectus vel tortor viverra, pharetra dapibus lacus posuere.
                            Vivamus ultrices nulla non urna pulvinar sagittis. Duis et egestas nunc.
                            Curabitur imperdiet velit at libero maximus, in viverra enim fermentum.</p>

                        <p>Nunc porttitor scelerisque varius. Nulla aliquam efficitur dignissim. Phasellus dolor enim,
                            ullamcorper at euismod in, rhoncus ut sapien. In dignissim tempus pretium. Duis felis ipsum,dapibus
                            sit amet volutpat ut, molestie at mauris. Sed finibus vehicula porta. Phasellus vitae molestie
                            massa. Sed blandit tincidunt turpis ut vulputate. Mauris condimentum, tortor vitae scelerisque
                            pellentesque, quam lectus vestibulum sapien, eget volutpat tortor velit nec massa. In hac habitasse
                            platea dictumst. Nunc fermentum nunc vel neque convallis suscipit.</p>
                    </div>
                </div>
            </div>
        </div>

        @footer()
    </body>
</html>