@()(implicit title: String)

@import enums.MenuItems._

<!DOCTYPE html>
<html lang="en">
    <head>
        @preamble(title)
    </head>
    <body>
        @navbar(HOME)

        <div class="banner-heading text-center">
            <header>
                <h1>Jeremy's Musings</h1>
                <p>Technical blog, fiction, rants, whatever strikes my fancy</p>
            </header>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>This website began as an exercise in learning Scala and the Play Framework, but I have since decided to
                           use it as my personal website (read: soapbox) for both technical rants and fiction. Perhaps even the occasional
                           musing on life, the universe and everything.</p>
                        <p>I am a software developer and aspiring writer, and on this website you will find content devoted to both interests.
                           The site contains a technical blog that I will update when inspiration hits. It will eventually contain tutorials, notes on
                           personal projects, and meandering articles on technical topics within the umbrella of computer science and engineering.
                           On the non-technical front, the 'Writing' section of the site contains a page with a selection of
                           writing samples that I have decided to showcase.</p>
                        <p>Feel free to send me a message on the 'Contact' page if you have any comments or questions.</p>
                    </div>
                </div>
            </div>
        </div>

        @footer()
    </body>
</html>