@(resume: objects.Resume, isAdmin: Boolean, isEditMode: Boolean)(implicit title: String)

@import enums.MenuItems._
@import java.util.Date

@headerWithEditOption(header: String, editId: String) = {
    <div class="row">
        <div class="col-md-4"><h4>@header</h4></div>
        @if(isAdmin) {
            <div class="col-md-4 col-md-offset-4">
                <button id="@editId" type="button" class="btn btn-link" style="float: right; padding-top: 0px; border-top: 0px;">
                    Edit
                </button>
            </div>
        }
    </div>
}

@buttonForEditSave(buttonId: String) = {
    <div align="right" style="display: none;">
        <button id="@(buttonId)-cancel" class="btn btn-default"
                type="button" style="margin-bottom: 5px;">Cancel</button>
        <button id="@buttonId" class="btn btn-primary"
                type="submit" style="margin-bottom: 5px;">Save</button>
    </div>
}

@buttonForRemoveItem() = {
        <button type="button" class="btn btn-link remove-exp" style="float: right; padding-top: 0px; border-top: 0px; color: #c51111;">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
}

<!DOCTYPE html>
<html lang="en">
<head>
    @preamble(title)
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <link href="@routes.Assets.versioned("stylesheets/resume.css")" rel="stylesheet">
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
</head>
<body>
    @navbar(RESUME)
    @if(isAdmin) {
        <li id="experience-item-cloneable" class="list-group-item" style="display: none;">
            @buttonForRemoveItem()
            <label>Job Title</label><input type="text" value="" class="form-control"/>
            <br>
            <label>Company</label><input type="text" value="" class="form-control" />
            <br>
        </li>
    }
    <div class="resume">
        <header class="banner-heading text-center">
            <h1 class="page-title">Resume</h1>
            <small><i class="fa fa-clock-o"></i> Last Updated on: <time>@{val date = new Date; date.setTime(resume.lastUpdated * 1000); date.toString}</time></small>
        </header>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading resume-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                @if(isAdmin) {
                                    <div align="right" style="padding-right: 15px;">
                                        <button id="top-level-info-edit-link" type="button" class="btn btn-link">Edit</button>
                                    </div>
                                }
                                <div class="col-xs-12 col-sm-3">
                                    <figure>
                                        <img class="img-circle img-responsive" alt="" src="@resume.profileImageUrl">
                                    </figure>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    @if(isAdmin) {
                                        <form id="top-level-info-form" action="/resume/update-heading" method="post">
                                    }
                                    <ul id="top-level-info-list" class="list-group">
                                        @resumeEditableText(text: String, name: String) = {
                                            @if(isAdmin) {
                                                <input type="text" name="@name" class="form-control editable-mode" value="@text" style="display: none;"/>
                                                <span class="locked-mode">@text</span>
                                            } else {
                                                @name
                                            }
                                        }
                                        <li class="list-group-item">@resumeEditableText(resume.name, "resumeName")</li>
                                        <li class="list-group-item">@resumeEditableText(resume.jobTitle, "resumeJobTitle")</li>
                                        <li class="list-group-item">@resumeEditableText(resume.currentCompany, "resumeCurrentCompany")</li>
                                        <li class="list-group-item"><span class="glyphicon glyphicon-earphone"></span> @resumeEditableText(resume.phoneNo, "resumePhoneNo")</li>
                                        <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> @resumeEditableText(resume.email, "resumeEmail")</li>
                                    </ul>
                                    @if(isAdmin) {
                                            @buttonForEditSave("top-level-info-submit")
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bs-callout bs-callout-primary">
                        @if(isAdmin) {
                            <form id="summary-info-form" action="/resume/update-summary" method="post">
                        }
                        @headerWithEditOption("Summary", "summary-edit-link")
                        <div id="summary-readable-text" class="locked-mode">
                            @Html(resume.summary)
                        </div>
                        @if(isAdmin) {
                                <div id="summary-editable-text" class="editable-mode">
                                    <textarea name="summaryContent" rows="10" cols="100">@resume.summary</textarea>
                                </div>
                                @buttonForEditSave("summary-submit")
                            </form>
                        }
                    </div>
                    <div class="bs-callout bs-callout-primary">
                        @if(isAdmin) {
                            <form id="research-interests-info-form" action="/resume/update-research-interests" method="post">
                        }
                        @headerWithEditOption("Research Interests", "research-interests-edit-link")
                        <div id="research-interests-readable-text" class="locked-mode">
                            @Html(resume.researchInterests)
                        </div>
                        @if(isAdmin) {
                                <div id="research-interests-editable-text" class="editable-mode">
                                    <textarea name="researchInterestContent" rows="5" cols="100">@resume.researchInterests</textarea>
                                </div>
                                @buttonForEditSave("research-info-submit")
                            </form>
                        }
                    </div>
                    <div class="bs-callout bs-callout-primary">
                        @if(isAdmin) {
                            <form id="past-experience-info-form" action="/resume/update-past-experience" method="post">
                        }
                        @headerWithEditOption("Past Experience", "past-experience-edit-link")
                        <div id="experience-readable-text" class="locked-mode">
                            <ul class="list-group">
                                @for(experience <- resume.pastExperience) {
                                    <a class="list-group-item inactive-link" href="#">
                                        <h4 class="list-group-item-heading">@experience.jobTitle at @experience.company</h4>
                                        <div class="past-experience-description">
                                            @Html(experience.description)
                                        </div>
                                    </a>
                                }
                            </ul>
                        </div>
                        @if(isAdmin) {
                                <div class="editable-mode">
                                    <ul id="past-experience-list" class="list-group">
                                        @for((experience, index) <- resume.pastExperience.zipWithIndex) {
                                            <li class="list-group-item">
                                                @buttonForRemoveItem()
                                                <label>Job Title</label><input type="text" value="@experience.jobTitle" class="form-control"/>
                                                <br>
                                                <label>Company</label><input type="text" value="@experience.company" class="form-control" />
                                                <br>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div align="right" style="display: none;">
                                    <button id="add-new-experience-button" class="btn btn-link" type="button" style="color: green;">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button id="past-experience-submit-cancel" class="btn btn-default"
                                            type="button" style="margin-bottom: 5px;">Cancel</button>
                                    <button id="past-experience-submit" class="btn btn-primary"
                                            type="submit" style="margin-bottom: 5px;">Save</button>
                                </div>
                            </form>
                        }
                    </div>
                    <div class="bs-callout bs-callout-primary">
                        @if(isAdmin) {
                            <form id="expertise-info-form" action="/resume/update-expertise-info" method="post">
                        }
                        @headerWithEditOption("Expertise", "expertise-edit-link")
                        <div id="expertise-readable-text" class="locked-mode">
                            <ul class="list-group">
                                @for(point <- resume.expertise) {
                                    <li class="list-group-item"> @point</li>
                                }
                            </ul>
                        </div>
                        @if(isAdmin) {
                                @buttonForEditSave("expertise-submit")
                            </form>
                        }
                    </div>
                    <div class="bs-callout bs-callout-primary">
                        @if(isAdmin) {
                            <form id="language-tech-info-form" action="/resume/update-language-and-tech" method="post">
                        }
                        @headerWithEditOption("Language and Technology Skills", "language-tech-edit-link")
                        <div id="language-tech-readable-text" class="locked-mode">
                            <ul class="list-group">
                                <a class="list-group-item inactive-link" href="#">
                                    @for(skill <- resume.skillBars) {
                                        <div class="progress">
                                            <div data-placement="top" style="width: @(skill.progress)%;" aria-valuemax="100" aria-valuemin="0"
                                                 aria-valuenow="@skill.progress" role="progressbar" class="progress-bar progress-bar-@skill.style">
                                                <span class="sr-only">@(skill.progress)%</span>
                                                <span class="progress-type">@skill.skill</span>
                                            </div>
                                        </div>
                                    }
                                    <div class="progress-meter">
                                        <div style="width: 25%;" class="meter meter-left"><span class="meter-text">Beginner</span> </div>
                                        <div style="width: 25%;" class="meter meter-left"><span class="meter-text">Novice</span> </div>
                                        <div style="width: 25%;" class="meter meter-right"><span class="meter-text">Advanced</span> </div>
                                        <div style="width: 25%;" class="meter meter-right"><span class="meter-text">Good</span> </div>
                                    </div>
                                </a>
                            </ul>
                        </div>
                        @if(isAdmin) {
                                @buttonForEditSave("language-tech-submit")
                            </form>
                        }
                    </div>
                    <div class="bs-callout bs-callout-primary">
                        @if(isAdmin) {
                            <form id="education-info-form" action="/resume/update-education" method="post">
                        }
                        @headerWithEditOption("Education", "education-edit-link")
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Degree</th>
                                    <th>Graduating Year</th>
                                    <th>GPA</th>
                                </tr>
                            </thead>
                            <tbody id="education-readable-text" class="locked-mode">
                                <tr>
                                    @for(eduEntry <- resume.education) {
                                        <td>@eduEntry.degree</td>
                                        <td>@eduEntry.year</td>
                                        <td> @eduEntry.gpa</td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                        @if(isAdmin) {
                                @buttonForEditSave("education-submit")
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @footer()
    @if(isAdmin) {
        <script src="@routes.Assets.versioned("javascripts/resume.js")"></script>
    }
</body>
</html>