@(selectedPost: Option[objects.InternalPost], posts: List[(Int, String, org.joda.time.DateTime, enums.PostStatus.PostStatus)], isAdmin: Boolean)(implicit title: String)

@import enums.MenuItems._

<!DOCTYPE html>
<html lang="en">
<head>
    @preamble(title)
    @if(isAdmin) {
        <script src="@routes.Assets.versioned("javascripts/nicedit.js")"></script>
        <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
    }
</head>
<body>
    @navbar(TECHNICAL)

    <div class="banner-heading text-center">
        <header>
            <h1>Technical Articles</h1>
        </header>
    </div>
    <div class="container">
        <div class="col-lg-8">
            @if(!selectedPost.isEmpty) {
                <h1>@selectedPost.get.post.title</h1>
                <p>
                    <span class="glyphicon glyphicon-time"></span>
                    <small> Posted on: <time>@selectedPost.get.postTime.toString</time></small>
                </p>
                @if(isAdmin) {
                    <form name="publish-delete-form" action="/publish-delete-article" method="POST">
                        <input type="hidden" name="id" value="@selectedPost.get.id">
                        <div class="btn-group" role="group">
                            @if(selectedPost.get.post.status == enums.PostStatus.EDIT) {
                                <button type="submit" class="btn btn-success" name="action-button" value="publish">Publish</button>
                            }
                            <button id="edit-post" type="button" class="btn btn-info" name="action-button" value="edit">Edit</button>
                            <button type="submit" class="btn btn-danger" name="action-button" value="delete">Delete</button>
                        </div>
                    </form>
                }
                <hr>
                <div id="content-section" class="post-content">
                    @Html(selectedPost.get.post.content)
                </div>
                <br>
                @if(isAdmin) {
                    <div id="edit-section">
                        <form name="edit-post-form" action="/edit-technical-post" method="POST">
                            <label>Title</label><input type="text" name="title" value="@selectedPost.get.post.title" class="form-control" />
                            <br>
                                <textarea id="editable-post" name="edit-content" rows="10" cols="100">
                                    @selectedPost.get.post.content
                                </textarea>
                                <button id="submit-edit" type="submit" class="btn btn-primary">Submit</button>
                            <input type="hidden" name="id" value="@selectedPost.get.id" />
                        </form>
                    </div>
                }
            }
        </div>
        <div class="col-md-4">
            <div class="well">
                <h4>Posts</h4>
                <div class="list-group">
                    @for(post <- posts) {
                        @if(post._4 != enums.PostStatus.DELETED) {
                            @if(selectedPost.nonEmpty && post._1 == selectedPost.get.id) {
                                <a href="#" class="list-group-item active" id="@post._1">
                                    @post._2
                                    @if(post._4 == enums.PostStatus.EDIT) {
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    }
                                </a>
                            } else {
                                <a href="@routes.HomeController.technical_post(post._1)" class="list-group-item" id="@post._1">
                                    @post._2
                                    @if(post._4 == enums.PostStatus.EDIT) {
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    }
                                </a>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    @footer()
    @if(isAdmin) {
        <script src="@routes.Assets.versioned("javascripts/technical.js")"></script>
    }
</body>
</html>